@import 'variables';

#gaudo_posts-list {
    list-style: none;
    padding: 0;
}

.gaudo_post-date {
    font-size: 0.9rem;
    color: $side-color;
}

.gaudo_post-link {
    display: block;
    text-decoration: none;
    transition: transform 400ms;
}

.gaudo_post-title {
    margin: 0 0 .5rem 0;
    font-family: Caladea;
    font-size: 2rem;
}

.gaudo_post{
    margin: 1.5rem 0 1.5rem 0;
    color: $text-color;
}

.gaudo_post-link:hover, .gaudo_post-link:focus{
    transform: scale(1.02);
}

.gaudo_post-readmore {
    font-size: 0.9rem;
    font-weight: bold;
    color: $primary-color;
}
