---
---

@use 'bulma/utilities/all';
@use 'bulma/base/all';
@use 'bulma/grid/all' as grid;

.skills {
    @extend grid.columns;

    &-frontend, &-backend, &-system {
        @extend grid.column;
    }

    &-frontend {
        background-color: red;
    }

    &-backend {
        background-color: green;
    }

    &-system {
        background-color: blue;
    }
}