---
---

@import 'bulma/utilities/all';
@import 'bulma/base/all';
@import 'bulma/grid/all';

.skills {
    @extend .columns;

    &-frontend, &-backend, &-system {
        @extend .column;
    }

    &-frontend {
        background-color: red;
    }

    &-backend {
        background-color: green;
    }

    &-system {
        background-color: blue;
    }
}